.PalindromeFinder {
    background-color: lightsteelblue;
    padding: 5px;

    .palindromeList {
        position: relative;
        top: 1px;
        padding: 6px;
        border-radius: 3px;
        background-color: yellow;
    }
}

button {
    margin: 5px;
    padding: 3px;
}

input {
    padding: 3px;
    width: 200px;
}